root = true

[*]
indent_style = tab # significa que usa tabulação
tab_width = 3 # tamanho da tabulação
charset = utf-8 # codificação do arquivo
insert_final_newline = false # não insere uma linha em branco no final do arquivo
trim_trailing_whitespace = true # remove espaços em branco no final da linha
max_line_length = 80 # tamanho máximo da linha
spaces_around_operators = true # insere espaços em torno de operadores
spaces_around_brackets = both # insere espaços em torno de colchetes
indent_brace_style = K&R # estilo de indentação de chaves